[Unit]
Description=Run internal DNS monitor periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true
Unit=internal-dns-monitor.service

[Install]
WantedBy=timers.target
